@import "./mixins.scss";

.container {
  width: 350px;
  margin: 0 auto;
  //border: 0.1px solid red;

  @include tablet {
    width: 720px;
  }

  @include desktop {
    width: 1220px;
  }
}

.wrapper {
  width: 100%;
  padding: 40px;
}