:root {
  --color-black: #000000;
  --color-dark-blue:#202754;
  --color-blue: #103391;
  --color-green: #066349;
  --color-red: #F71A10;
  --color-yellow: #FFBB2C;
  --color-white: #FEFEFE;
  --color-grey: #F1F1F1;
  --color-grey-dark: #757476;
}