:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: lora;
  src: url(/public/fonts/Lora.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: lora, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 3px 0;
}

footer {
  padding: 40px 0;
}


a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}