.sidebar {
  width: 250px;
  height: 100dvh;
  background-color: var(--cyan-100);
  color: #000;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  ul {
    list-style: none;
    padding: 10px 0 10px  10px;
    margin: 0;
    border-radius: 30px;
    overflow: hidden;
  }
}

.active {
  background: #fff;
  color: black;
  border-radius: 30px 0 0 30px;
}
