//tags

.h1 {
  font-size: clamp(32px, 1.197rem + 3.67vw, 72px);
}

.h2 {
  font-size: clamp(24px, 1.018rem + 2.202vw, 48px);
}

.h3 {
  font-size: clamp(20px, 0.808rem + 2.018vw, 42px);
}

.bigP {
  font-size: clamp(20px, 1.179rem + 0.357vw, 24px);
}

.mediumP {
  font-size: clamp(16px, 0.893rem + 0.536vw, 22px);
}

.smallP {
  font-size: clamp(14px, 0.768rem + 0.536vw, 20px);
}

//color
.red {
  color: var(--color-red);
}

.blue {
  color: var(--color-blue);
}

.white {
  color: var(--color-white);
}

.grey {
  color: var(--color-grey-dark);
}
.black {
  color: var(--color-black);
}

//weight
.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semiBold {
  font-weight: 600;
}

//align
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}